.comment {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url(../../img/comment-bgc2.svg),url(../../img/comment-bgc3.svg);
    background-position:top left,bottom right;
    background-repeat: no-repeat;
}

.comment__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    max-width: 932px;
}

.story {
    color: #79c8c7;
}

.comment_block {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.comment__item {
    max-width: 350px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../img/comment-bgc.svg);
    background-repeat: no-repeat;
    background-position-x: center;
}

.comment__text1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;

}

.comment__text2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
}

.comment__text3 {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: #fff;
}

.comment__list {
    display:flex;
    flex-wrap: wrap;
    max-width: 1350px;
    gap: 30px;
    justify-content: center;
}